#  █████╗ ██████╗ ███╗   ███╗██╗    ██╗██╗███████╗
# ██╔══██╗██╔══██╗████╗ ████║██║    ██║██║╚══███╔╝
# ███████║██████╔╝██╔████╔██║██║ █╗ ██║██║  ███╔╝
# ██╔══██║██╔══██╗██║╚██╔╝██║██║███╗██║██║ ███╔╝
# ██║  ██║██║  ██║██║ ╚═╝ ██║╚███╔███╔╝██║███████╗
# ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝ ╚══╝╚══╝ ╚═╝╚══════╝
#                               by Pax Instruments

# Overview
# ==================== #
# This is the armwiz resource configuration files. It contains information on
# every library and target for armwiz.

# TODO List
# ==================== #
# - TODO Add copyright notice

# Notes
# ==================== #
# # Comments can only be on their own line. No inline comments.

##############################
#                            #
#         Libraries          #
#                            #
##############################

# This section lists all available libraries in alphabetical order.

[library_chibios]
item_type = library
proper_name = ChibiOS
cli_argument = chibios
short_description = ChibiOS/RT real-time operating system (RTOS).
long_description = ChibiOS is a complete development environment for embedded
	applications including RTOS, an HAL, peripheral drivers, support files
	and a development environment.
git_name = ChibiOS
git_url = https://github.com/ChibiOS/ChibiOS.git
website_url = http://www.chibios.org/

[library_cmsis]
item_type = library
proper_name = ARM CMSIS
cli_argument = cmsis
short_description = CMSIS standard abstraction layer for Cortex-M by ARM.
long_description = The Cortex Microcontroller Software Interface Standard (CMSIS)
	 is a vendor-independent hardware abstraction layer for the Cortex-M
	 processor series and defines generic tool interfaces.
git_name = CMSIS
git_url = https://github.com/ARM-software/CMSIS.git
website_url = http://www.arm.com/products/processors/cortex-m/cortex-microcontroller-software-interface-standard.php

[library_freertos]
item_type = library
proper_name = FreeRTOS
cli_argument = freertos
short_description = FreeRTOS real-time operating system (RTOS) kernel.
long_description = FreeRTOS is a real-time operating system kernel for embedded
	devices.
git_name = freertos
git_url = https://github.com/PaxInstruments/freertos.git
website_url = http://www.freertos.org/

[library_mbed]
item_type = library
proper_name = ARM mbed
cli_argument = mbed
short_description = The mbed hardware abstraction and device drivers by ARM.
long_description = The mbed hardware abstraction and device drivers by ARM.
git_name = mbed
git_url = https://github.com/mbedmicro/mbed.git
website_url = https://www.mbed.com

[library_stm32cubef1]
item_type = library
proper_name = STM32CubeF1
cli_argument = stm32cubef1
short_description = ST Microsystems peripheral drivers for STM32F1xx chips.
long_description = Hardware peripherals provided by ST Microsystems for STM32F1 series microcontrollers.
git_name = STM32CubeF1
git_url = https://github.com/PaxInstruments/STM32CubeF1.git
website_url = http://www.st.com/web/catalog/tools/PF260820

[library_stm32cubef2]
item_type = library
proper_name = STM32CubeF2
cli_argument = stm32cubef2
short_description = ST Microsystems peripheral drivers for STM32F2xx chips.
long_description = Hardware peripherals provided by ST Microsystems for STM32F2 series microcontrollers.
git_name = STM32CubeF2
git_url = https://github.com/PaxInstruments/STM32CubeF2.git
website_url = http://www.st.com/web/en/catalog/tools/PF260266

[library_stm32cubef3]
item_type = library
proper_name = STM32CubeF3
cli_argument = stm32cubef3
short_description = ST Microsystems peripheral drivers for STM32F3xx chips.
long_description = Hardware peripherals provided by ST Microsystems for STM32F3 series microcontrollers.
git_name = STM32CubeF3
git_url = https://github.com/PaxInstruments/STM32CubeF3.git
website_url = http://www.st.com/web/catalog/tools/PF260613

[library_stm32cubef4]
item_type = library
proper_name = STM32CubeF4
cli_argument = stm32cubef4
short_description = ST Microsystems peripheral drivers for STM32F4xx chips.
long_description = Hardware peripherals provided by ST Microsystems for STM32F4 series microcontrollers.
git_name = STM32CubeF4
git_url = https://github.com/PaxInstruments/STM32CubeF4.git
website_url = http://www.st.com/web/catalog/tools/PF259243

[library_u8glib]
item_type = library
proper_name  =U8glib
cli_argument = u8glib
short_description = A graphics library with support for many different monochrome displays.
long_description = A graphics library with support for many different monochrome displays.
git_name = u8glib
git_url = https://github.com/olikraus/u8glib.git
website_url = https://github.com/olikraus/u8glib/wiki

[library_m2tklib]
item_type = library
proper_name  =M2TKLIB
cli_argument = m2tklib
short_description = A graphics user interface library that works well with U8glib.
long_description = A graphics library with support for many different monochrome displays.
git_name = m2tklib
git_url = https://github.com/olikraus/m2tklib.git
website_url = https://github.com/olikraus/m2tklib/wiki/m2tklib

##############################
#                            #
#          Targets           #
#                            #
##############################

# This section contains configuration information for each supported target
# Targets can be bare chips or assembled PCBs. Targets that are commented
# out are not supported.

## Development Board Targets

[board_generic_stm32f103rct6_102]
item_type = target
proper_name = Generic board 'STM32F103RCT6 V1.02'
mcu = stm32f103rct6
cli_argument = generic_stm32f103rct6_a
manufacturer = manufacturer_unknown
short_description = Generic board labeled 'STM32F103RCT6 V1.02'
long_description = STM32F103 development board from china that has a
	JTAG, SWD, and general breakout headers.
website_url = https://github.com/PaxInstruments/armwiz/wiki/stm32f103rct6_v102

[board_generic_stm32f103rct6_100]
item_type = target
proper_name = Generic board '130811 V1.00'
mcu = stm32f103rct6
cli_argument = generic_stm32f103rct6_b
manufacturer = manufacturer_unknown
short_description = Generic board labeled '130811_v1.00'
long_description = STM32F103 development board from china that has a
	JTAG and general breakout headers. Has a DB-9 serial port, ethernet
	port, MicroSD card slot.
website_url = https://github.com/PaxInstruments/armwiz/wiki/130811_v100

[board_samd21xplainedpro]
item_type = target
proper_name = SAMD21 Xplained Pro
mcu = atsamd21j18a
cli_argument = samd21xplainedpro
manufacturer = manufacturer_atmel
short_description = Atmel SAMD21 development board
long_description = This is the same chip as the Arcuino Zero
website_url = http://www.atmel.com/tools/ATSAMD21-XPRO.aspx

[board_generic_stm32f1c8t6_402]
item_type = target
proper_name = Generic board 'STM32F1x8x6 Board_v4.02'
mcu = stm32f1c8t6
cli_argument = generic_stm32f1c8t6_402
manufacturer = manufacturer_unknown
short_description = Generic board labeled 'STM32F1x8x6 Board_v4.02'
long_description = Generic board labeled 'STM32F1x8x6 Board_v4.02'
website_url = https://github.com/PaxInstruments/armwiz/wiki/stm32f1c8t6_Board_v402

[board_stm32f4discovery]
item_type = target
proper_name = STM32F4 Discovery
mcu = stm32f407vgt6
cli_argument = stm32f4discovery
manufacturer = manufacturer_st
short_description =
long_description =
website_url = http://www.st.com/web/catalog/tools/FM116/SC959/SS1532/PF252419

[board_nucleo_f411re]
item_type = target
proper_name = Nucleo-F411RE
mcu = stm32f411ret6
cli_argument = nucleo_f411re
manufacturer = manufacturer_st
short_description =
long_description =
website_url = http://www.st.com/web/catalog/tools/FM116/SC959/SS1532/LN1847/PF260320

[board_pyboard_v10]
item_type = target
proper_name = PyBoard v1.0
mcu = stm32f405rgt6
cli_argument = pyboard_v10
manufacturer = manufacturer_micropython
short_description =
long_description =
website_url = http://docs.micropython.org/en/latest/pyboard/hardware/index.html

## MCU Targets

[mcu_atsamd21j18a]
item_type = target
proper_name = SAMD21J12A
mcu = atsamd21j18a
cli_argument = atsamd21j18a
core = armcortex_m0plus
manufacturer = manufacturer_atmel
short_description =
long_description =
website_url =

[mcu_stm32f103c8t6]
item_type = target
proper_name =STM32F103C8T6
mcu = stm32f103c8t6
cli_argument = stm32f103c8t6
core = armcortex_m3
manufacturer = manufacturer_st
short_description =
long_description =
website_url =
manufacturer_library = STM32CubeF1

[mcu_stm32f103rct6]
item_type = target
proper_name = STM32F103RCT6
mcu = stm32f103rct6
cli_argument = stm32f103rct6
core = armcortex_m3
manufacturer = manufacturer_st
short_description = STM32F103 in 64LQFP package
long_description = STM32F103 in 64LQFP package
website_url =
manufacturer_library = STM32CubeF1

[mcu_stm32f405rgt6]
item_type = target
proper_name = STM32F405RGT6
mcu = stm32f405rgt6
cli_argument = stm32f405rgt6
core = armcortex_m4
manufacturer = manufacturer_st
short_description =
long_description =
website_url =
manufacturer_library = STM32CubeF4

[mcu_stm32f407vgt6]
item_type = target
proper_name = STM32F407VGT6
mcu = stm32f407vgt6
cli_argument = stm32f407vgt6
core = armcortex_m4
manufacturer = manufacturer_st
short_description =
long_description =
website_url =
manufacturer_library = STM32CubeF4

[mcu_stm32f411ret6]
item_type = target
proper_name = STM32F411RET6
mcu = stm32f411ret6
cli_argument = stm32f411ret6
core = armcortex_m4
manufacturer = manufacturer_st
short_description =
long_description =
website_url =
manufacturer_library = STM32CubeF4

##############################
#                            #
#           Cores            #
#                            #
##############################

# This section contains configuration information for all supported processor
# cores. Cores that are commented out are not supported.
#
# For GCC options, see https://gcc.gnu.org/onlinedocs/gcc/ARM-Options.html#ARM-Options

[core_armcortex_m0]
item_type = core
proper_name = ARM Cortex-M0
chip_family = Cortex-M
architecture = ARMv6-M
manufacturer = manufacturer_arm
gcc_flag_mcpu = cortex-m0

[core_armcortex_m0plus]
item_type = core
proper_name =ARM Cortex-M0+
chip_family = Cortex-M
architecture = ARMv6-M
manufacturer = manufacturer_arm
gcc_flag_mcpu = cortex-m0plus

[core_armcortex_m1]
item_type = core
proper_name =ARM Cortex-M1
chip_family = Cortex-M
architecture = ARMv6-M
manufacturer = manufacturer_arm
gcc_flag_mcpu = cortex-m1

[core_armcortex_m3]
item_type = core
proper_name =ARM Cortex-M3
chip_family = Cortex-M
architecture = ARMv7-M
manufacturer = manufacturer_arm
gcc_flag_mcpu = cortex-m3

[core_armcortex_m4]
item_type = core
proper_name =ARM Cortex-M4
chip_family = Cortex-M
architecture = ARMv7E-M
manufacturer = manufacturer_arm
gcc_flag_mcpu = cortex-m4

[core_armcortex_m7]
item_type = core
proper_name =ARM Cortex-M7
chip_family = Cortex-M
architecture = ARMv7E-M
manufacturer = manufacturer_arm
gcc_flag_mcpu = cortex-m7

##############################
#                            #
#       Manufacturers        #
#                            #
##############################

[manufacturer_unknown]
item_type = manufacturer
proper_name = Unknown Manufacturer
website_url = none

[manufacturer_arm]
item_type = manufacturer
proper_name = ARM Holdings plc
website_url = https://www.arm.com

[manufacturer_atmel]
item_type = manufacturer
proper_name = Atmel Corporation
website_url = http://www.atmel.com

[manufacturer_st]
item_type = manufacturer
proper_name = ST Microsystems
website_url = http://www.st.com

[manufacturer_micropython]
item_type = manufacturer
proper_name = Micropython.org
website_url = http://micropython.org
