[mbed]
item_type = library
proper_name = ARM mbed
cli_argument = mbed
short_description = The mbed hardware abstraction and device drivers by ARM.
long_description = The mbed hardware abstraction and device drivers by ARM.
git_name = mbed
git_url = https://github.com/mbedmicro/mbed.git
website_url = https://www.mbed.com

[stm32f103rct6_102]
item_type = target
proper_name = Generic board 'STM32F103RCT6 V1.02'
mcu = stm32f103rct6
cli_argument = generic_stm32f103rct6_a
manufacturer = manufacturer_unknown
short_description = Generic board labeled 'STM32F103RCT6 V1.02'
long_description = STM32F103 development board from china that has a JTAG, SWD, and general breakout headers.
website_url = https://github.com/PaxInstruments/armwiz/wiki/stm32f103rct6_v102
stm32cube_version=STM32CubeF1
endianness=little-endian
arm_core=cortex-m3
instruction_set=thumb
cmsis_mcu_family=STM32F103xB
