#                         ____
#                       .'* *.'
#                    __/_*_*(_
#                   / _______ \
#                  _\_)/___\(_/_
#                 / _((\- -/))_ \
#                 \ \())(-)(()/ /
#                  ' \(((()))/ '
#                 / ' \)).))/ ' \
#                / _ \ - | - /_  \
#               (   ( .;''';. .'  )
#               _\"__ /    )\ __"/_
#                 \/  \   ' /  \/
#                  .'  '...' ' )
#                   / /  |  \ \
#                  / .   .   . \
#                 /   .     .   \
#                /   /   |   \   \
#              .'   /    b    '.  '.
#          _.-'    /     Bb     '-. '-._
#      _.-'       |      BBb       '-.  '-.
#     (__________/\____.dBBBb.________)____)
#  █████╗ ██████╗ ███╗   ███╗██╗    ██╗██╗███████╗
# ██╔══██╗██╔══██╗████╗ ████║██║    ██║██║╚══███╔╝
# ███████║██████╔╝██╔████╔██║██║ █╗ ██║██║  ███╔╝ 
# ██╔══██║██╔══██╗██║╚██╔╝██║██║███╗██║██║ ███╔╝  
# ██║  ██║██║  ██║██║ ╚═╝ ██║╚███╔███╔╝██║███████╗
# ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝ ╚══╝╚══╝ ╚═╝╚══════╝
# 
# This is the library configuration file
# TODO Add copyright notice

[chibios]
name = ChibiOS
option = chibios
short_description = ChibiOS/RT real-time operating system (RTOS).
description = ChibiOS is a complete development environment for embedded 
	applications including RTOS, an HAL, peripheral drivers, support files 
	and a development environment.
gitName = ChibiOS
gitURL = https://github.com/ChibiOS/ChibiOS.git
website = http://www.chibios.org/

[freertos]
name = FreeRTOS
option = freertos
short_description = FreeRTOS real-time operating system (RTOS) kernel.
description = FreeRTOS is a real-time operating system kernel for embedded 
	devices.
gitName = freertos
gitURL = https://github.com/PaxInstruments/freertos.git
website = http://www.freertos.org/

[cmsis]
name = CMSIS
option = cmsis
short_description = CMSIS standard abstraction layer for Cortex-M by ARM.
description = The Cortex Microcontroller Software Interface Standard (CMSIS)
	 is a vendor-independent hardware abstraction layer for the Cortex-M 
	 processor series and defines generic tool interfaces.
gitName = CMSIS
gitURL = https://github.com/ARM-software/CMSIS.git
website = http://www.arm.com/products/processors/cortex-m/cortex-microcontroller-software-interface-standard.php

[mbed]
name = mbed
option = mbed
short_description = The mbed hardware abstraction and device drivers by ARM.
description = The mbed hardware abstraction and device drivers by ARM.
gitName = mbed
gitURL = https://github.com/mbedmicro/mbed.git
website = https://www.mbed.com

[stm32cubef1]
name = STM32CubeF1
option = stm32cubef1
short_description = ST Microsystems peripheral drivers for STM32F1xx chips.
description = Hardware peripherals provided by ST Microsystems for STM32F1 series microcontrollers.
gitName = STM32CubeF1
gitURL = https://github.com/PaxInstruments/STM32CubeF1.git
website = http://www.st.com/web/catalog/tools/PF260820

[stm32cubef2]
name = STM32CubeF2
option = stm32cubef2
short_description = ST Microsystems peripheral drivers for STM32F2xx chips.
description = Hardware peripherals provided by ST Microsystems for STM32F2 series microcontrollers.
gitName = STM32CubeF2
gitURL = https://github.com/PaxInstruments/STM32CubeF2.git
website = http://www.st.com/web/en/catalog/tools/PF260266

[stm32cubef3]
name = STM32CubeF3
option = stm32cubef3
short_description = ST Microsystems peripheral drivers for STM32F3xx chips.
description = Hardware peripherals provided by ST Microsystems for STM32F3 series microcontrollers.
gitName = STM32CubeF3
gitURL = https://github.com/PaxInstruments/STM32CubeF3.git
website = http://www.st.com/web/catalog/tools/PF260613

[stm32cubef4]
name = STM32CubeF4
option = stm32cubef4
short_description = ST Microsystems peripheral drivers for STM32F4xx chips.
description = Hardware peripherals provided by ST Microsystems for STM32F4 series microcontrollers.
gitName = STM32CubeF4
gitURL = https://github.com/PaxInstruments/STM32CubeF4.git
website = http://www.st.com/web/catalog/tools/PF259243

[u8glib]
name = U8glib
option = u8glib
short_description = A graphics library with support for many different monochrome displays.
description = A graphics library with support for many different monochrome displays.
gitName = u8glib
gitURL = https://github.com/olikraus/u8glib.git
website = https://github.com/olikraus/u8glib/wiki

[m2tklib]
name = M2TKLIB
option = m2tklib
short_description = A graphics user interface library that works well with U8glib.
description = A graphics library with support for many different monochrome displays.
gitName = m2tklib
gitURL = https://github.com/olikraus/m2tklib.git
website = https://github.com/olikraus/m2tklib/wiki/m2tklib
